@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

:root {
    --min-width: 320px;
    --max-width: 1920px;
    --max-width-container: 1144px;
    --md1: 991.98px;
    --md2: 767.98px;
    --md3: 479.98px;
    --text-color: #03CB2F;
    --text-active-color: #107D3E;
    --tariffs-buttons-color: #AD0C0C;
    --widgets-color: #069F47;
    --blocks-background: #343434;
    --titles-color: #101D14;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.header_menu, .block_content, .footer_container {
    width: var(--max-width-container);
}

.header {
    height: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;

    background: var(--blocks-background);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    z-index: 10;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu_logo {
    display: flex;
    align-items: center;
}

#logo {
    width: 81px;
    height: 62px;
}

.header_menu_logo .logo_title {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 125.4%;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-left: 16px;
}

.menu_list {
    list-style-type: none;

    display: flex;
    gap: 30px;

    margin: 0;
    padding: 0;
}

.menu_list .menu_link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #fff;
    text-decoration: none;

    padding-bottom: 4.5px;
}

.menu_link.active {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.phone_and_social_links .phone {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;

    color: #fff;

    opacity: 0.9;

    margin-bottom: 17px;
}

.phone_and_social_links .social_links {
    display: flex;
    justify-content: flex-end;
}

#middle_link_image {
    margin: 0px 15px 0px 17px;
}

.main_content_container {
    font-family: Montserrat;
    position: relative;
}

.block_container {
    display: flex;
    justify-content: center;
}

.ten_lessons_block {
    background: url("../img/car_background.png") 0px -110px no-repeat;
    /* background-size: cover; */
}

.ten_lessons_block .block_title {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 54px;
}

.ten_lessons_block .block_subtitle {
    font-weight: 500;
    font-size: 30px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 36px;
}

.block_content {
    padding-top: 130px;
}

.block_content .link_button {
    padding: 16px 36px 19px 36px;

    height: 55px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    background: #069F47;
    box-shadow: 0px 6px 4px rgba(9, 77, 32, 0.2);
    border: none;
    border-radius: 50px;

    margin-bottom: 22px;
}

.block_content .block_other_info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;


    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-bottom: 235px;
}

.achievements_block {
    background: url("../img/asphalt_back.png") no-repeat center;
    height: 274px;
    align-items: center;
    margin-top: -20px;
}

.achievements_block .block_content {
    position: relative;
    padding-bottom: 50px;
}

.achievments_block_up {
    position: absolute;
    top: -110px;
}

.achievments {
    display: flex;
    justify-content: center;
    gap: 19px;
}

.achievments .achievment {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-sizing: border-box;

    padding: 22px 38px 44px 38px;
    text-align: center;

    width: 270px;
}

.achievment img {
    margin-bottom: 12px;
}

.achievment .achievment_content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #000000;
}

.work_on_result_block {
    padding-top: 11px;
}

.work_on_result_block .block_content {
    padding: 0;
}

.work_on_result_block .block_content .main-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.block_title {
    margin-bottom: 55px;
}

.block_title {
    position: relative;
}

.block_title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;

    color: rgba(16, 29, 20, 0.2);
}

.block_title .block_subtitle {
    position: absolute;
    bottom: -17px;
    left: 2px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;


    color: #101D14;

}

ul {
    list-style-image: url("../img/list.svg");
}

.main_info {
    display: flex;
    flex-direction: column;
}

.main_info .biography {
    width: 750px;
    padding-right: 25px;
}

.main_info .biography .active {
    color: var(--text-active-color);
    text-decoration: underline;
}

.main_info .what_we_do_list {
    padding-left: 1.2rem;
}

.main_info .biography>p {
    margin-bottom: 0;
}

#koval_photo {
    position: absolute;
    top: 0;
    right: 0;
}

.work_on_result_block .main_info .other_info {
    display: flex;
    align-items: flex-start;
}

.work_on_result_block .main_info .other_info>p {
    width: 301px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    margin-right: 43px;
}

.work_on_result_block .main_info .other_info .link_button {
    padding: 16.69px 49px 16.69px 49px;
}

.services_block .block_content {
    padding-top: 94px;
    padding-bottom: 160px;
}

.services {
    display: flex;
    gap: 16px;
    position: relative;
}

#services_wheel {
    position: absolute;
    width: 200px;
    left: 295px;
    bottom: -110px;

    transform: rotate(15deg);
}

.service {
    background: #FFFFFF;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 370px !important;
    padding-bottom: 56px;

    position: relative;
    z-index: 10;
}

.service .service_header {
    padding: 65px 20px 26px 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #101D14;
}

.service .service_body .sub_info {
    padding-bottom: 1rem;
}

.service .service_body {
    padding-left: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.service_body ul {
    padding-left: 12px;
}

.service_body .main_info {
    padding-right: 20px;
    margin-bottom: 29px;
}

.service_footer {
    text-align: center;
}

.service_footer .link_button {
    padding: 16px 36px 19px 36px;
    width: 314px;
}

.tariffs_block .block_content {
    padding-top: 18px;
    padding-bottom: 65px;
}

.tariffs {
    display: flex;
    gap: 15px;
    position: relative;
}

#main_road_sign {
    position: absolute;
    width: 201px;
    top: -98px;
    right: -62px;
}

.tariffs .link_button {
    background-color: var(--tariffs-buttons-color);
}

.tariffs .service .service_footer .price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;

    color: #101D14;

    text-align: left;
    padding-left: 40px;

    position: relative;

    padding-bottom: 45px;

    word-spacing: 3px;
}

.tariffs .service_footer .old_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: rgba(16, 29, 20, 0.7);

    position: relative;
}

.first_line, .second_line {
    height: 0;
    width: 76.16px;
    border: 1px solid #424242;

    position: absolute;
}

.first_line {
    top: 11px;
    right: 110px;
    transform: matrix(0.97, -0.24, 0.23, 0.97, 0, 0);
}

.second_line {
    top: 11px;
    right: 110px;
    transform: matrix(0.97, 0.24, -0.23, 0.97, 0, 0);
}

.studying_time_block {
    background: url("../img/studying_time_back.jpg") no-repeat;
    background-size: cover;
}

.studying_time_block .block_content {
    padding-top: 171px;
    padding-bottom: 190px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.studying_time_block .main_content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    text-align: left;
}

.about_my_work_block {
    padding-bottom: 66px;
}

.about_my_work_block .block_title {
    margin-bottom: 68px;
}

.about_my_work_block .block_content {
    padding-top: 42px;
}

.slider_list {
    display: flex;
    gap: 15px;

    position: relative;
    z-index: 10;
}

.slider_list>img {
    position: absolute;
    z-index: 0;
    transform: rotate(-78.72deg);
    overflow: hidden !important;
}

#first__footprint {
    bottom: 32px;
    left: -192px;
}

#second__footprint {
    bottom: -82px;
    left: 417px;
}

#therd__footprint {
    top: -66px;
    right: -100px;
}

.slider_item {
    width: 370px;
    height: 442px;
    background: url("../img/slider_item.png") no-repeat;
    position: relative;
    z-index: 10;

    border-radius: 15px;
}

.slider_item .slider_item_image {
    position: relative;
    z-index: 10;
}

.play_icon {
    position: absolute;
    top: 50%;
    left: 46%;
}

.slider_controllers {
    padding: 22px;

    display: flex;
    justify-content: space-between;
}

.benefits_block {
    background: url("../img/benefits_background.png") no-repeat;
}

.benefits_block .block_content {
    padding-bottom: 65px;
}

.benefits {
    display: flex;
    gap: 15px;
}

.benefit {
    width: 274px !important;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 0 !important;
}

.benefit_title {
    padding: 52px 11px 54px 38px;

    font-style: normal;
    font-weight: 900;
    font-size: 30px;

    color: #000000;
}

.benefit_body {
    padding: 0px 10px 72px 36px;
}

.benefit_body ul {
    padding: 0;
}

.learning_process_block {
    background: #303030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    position: relative;
    top: -1px;

    padding-bottom: 51px;
}

.learning_process_block .block_title h1 {
    color: rgba(255, 255, 255, 0.3);
}

.learning_process_block .block_title h2, .roadtotherules .block_title h2 {
    color: #FFFFFF;
}

.learning_process_block .slider_item {
    background: url("../img/second_slider.png");
    height: 642px;
}

.learning_process_block .slider_controllers {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.autoschool_licenses_block {
    position: relative;
    top: -1px;

    padding-bottom: 122px;
}

.autoschool_licenses_block .block_title {
    padding-top: 80px;
    position: relative;
    z-index: 10;
}

#licenses_background {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.licenses {
    gap: 19px;
}

.license {
    width: 274px !important;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.15));
}

.license img {
    width: 100%;
}

.roadtotherules {
    background: url("../img/studying_time_back.jpg") no-repeat;
    /* background-size: cover; */
    padding-top: 30px;
    padding-bottom: 209px;
}

.roadtotherules .block_title h1 {
    color: rgba(255, 255, 255, 0.5);
}

.roadtotherules ul {
    padding: 0;
    list-style: armenian;
}

.step {
    width: 466px !important;

    background: #FFFFFF;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    margin-right: 111px;
    margin-bottom: 34px;

    display: flex;
    align-items: center;
}

.step .step_number {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;

    color: rgba(16, 125, 62, 0.2);

    padding-left: 34px;
    padding-right: 25px;
}

.step .step_body {
    padding-top: 39px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.roadtotherules .link_button {
    width: 334px;
    margin-left: -10px;
}